/*****************************************/
/* Globals */
/*****************************************/

/*@font-face {
    font-family: "Maven Pro";
    src:url("../fonts/MavenPro-Regular.ttf");
}

@font-face {
    font-family: "Maven Pro";
    src:url("../fonts/MavenPro-Bold.ttf");
}
*/

@import url('https://fonts.googleapis.com/css?family=Lora:700|Open+Sans&display=swap');

body, .wrapper {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}

p, input, button {
  font-family: "Open Sans", sans-serif;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn.btn-primary {
  background: #4A71FD;
  border-radius: 5px;
  color: white;
  border:none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}


input.form-control, input.form-control:focus {
  background: #EEEEEE;
  border-radius: 5px;
  border: none;
  height: calc(1.5em + 1.3rem);
  outline: none;
  box-shadow: none;
  padding-left: 25px;
  padding-right: 25px;
  /*padding-top: 15px;*/
}

.cta {
  width: 85%;
}

.quarter-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 250px;
  width: 250px;
  background: #FDA04A;
  border-bottom-left-radius: 100%;
}

.quarter-circle-2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 250px;
  width: 250px;
  background: #93CBB0;
  border-top-right-radius: 100%;
}


/* Header */
.header {
  text-align: center;
  margin: 0 auto;
  width: 510px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content {
  display: inline-block;
  text-align: left;
  width: 85%;
}

.header h1 {
  font-size: 4rem;
}

.header #subtitle {
  font-size: 1.45rem;
}

@media screen and (max-width: 1100px) {
  .quarter-circle {
    height: 200px;
    width: 200px;
  }

  .quarter-circle-2 {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .quarter-circle {
    height: 120px;
    width: 120px;
  }

  .quarter-circle-2 {
    height: 120px;
    width: 120px;
  }

  .header {
    width: 318px;
  }

  .header h1 {
    font-size: 2.5rem;
    margin-bottom: 0px;
  }

  .header #subtitle {
    font-size: 1rem;
    margin-top: 0px;
  }

  .cta {
    width: 100%;
  }

  input.form-control, input.form-control:focus {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.8rem;
    /*padding-top: 15px;*/
  }

  .btn.btn-primary {
    font-size: 0.8rem;
    padding-left: 20px;
    padding-right: 20px;
  }

}
